.app {
  background: rgb(122, 3, 0);
  background: radial-gradient(
    circle,
    rgba(122, 3, 0, 0.846673703661152) 30%,
    rgba(2, 15, 32, 0.8746849081429446) 90%
  );
  margin: 5px;
  min-height: 100vh;
}

*::selection {
  color: #d0413d;
  background: #7dafaf;
}

.main {
  padding: 0 15px;
}

.main h2 {
  color: white;
}

/*-----------header---------------*/
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@600&display=swap");
.logo-container {
  margin: auto 0;
}
.header img {
  max-width: 20%;
  display: block;
}
.logo-container h1 {
  font-family: "Cinzel", serif;
  font-size: 96px;
}

.logo-container div:first-child {
  background-color: #cbfefea1;
  border-bottom: 5px solid black;
  border-right: 2.5px solid black;
  border-top: 5px solid black;
  border-left: 5px solid black;
}

.logo-container div:last-child {
  background-color: #d0413d;
  border-top: 5px solid black;
  border-right: 5px solid black;
  border-bottom: 5px solid black;
  border-left: 2.5px solid black;
}

/*-----------main----------------*/
.character-div {
  border-radius: 10px;
  padding: 20px;
  margin: 15px 0;
  height: 100%;
}

.character-container {
  margin: 20px 0;
}

.characters > div:nth-child(even) > .character-div {
  background-color: #728181;
  border: 5px solid #557575;
}

.characters > div:nth-child(odd) > .character-div {
  background-color: #b96361;
  border: 5px solid #7c4241;
}

.book-display span:not(:last-child)::after {
  content: ", ";
}

.search-button {
  border: 2px solid #706d6e;
  background-color: #a8a2a3;
  margin: 5px;
  padding: 5px;
}
.search-button:hover {
  border: 2px solid #706d6e;
  background-color: #706d6e;
}
.search-button svg {
  color: #15252b;
}

.input-name {
  border: 2px solid #706d6e;
  background-color: #a8a2a3;
  margin: 5px;
  padding: 5px;
}

.select-gender {
  border: 2px solid #706d6e;
  background-color: #a8a2a3;
  margin: 5px;
  padding: 5px;
}

.select-page-size {
  border: 2px solid #706d6e;
  background-color: #a8a2a3;
  margin: 5px;
  padding: 5px;
}

.select-gender-page-size {
  width: fit-content;
  margin-left: auto;
}

.w-ft {
  width: fit-content;
}

.pagination-container {
  margin-top: 30px;
  padding-bottom: 30px;
}

.pagination-container button {
  padding: 10px;
  margin: 10px;
  border: none;
  background-color: #a8a2a3;
  border-radius: 5px;
  border: 2px solid #a8a2a3;
}

.pagination-container button:first-child:hover,
.pagination-container button:nth-child(2):hover {
  background-color: #36616f;
  border: 2px solid #1e353d;
}

.pagination-container button:last-child:hover,
.pagination-container button:nth-child(4):hover {
  border: 2px solid #852926;
  background-color: #d0413d;
}

.main-options {
  margin-bottom: 40px;
}

.a-link-book {
  color: black;
  text-decoration: none;
}

.a-link-book svg {
  margin-left: 10px;
}

.a-link-book:hover {
  color: #1e353d;
  text-decoration: none;
  cursor: pointer;
}

.number-book {
  padding: 0 5px;
  text-decoration: underline;
}

.number-book:hover {
  cursor: pointer;
  color: #852926;
}

.book-container {
  border: 4px solid #706d6e;
  background-color: #a8a2a3;
  padding: 10px;
  margin: 20px;
  border-radius: 10px;
}

.current-page {
  color: white;
  font-size: 1.5em;
}

/*---------animation-loading---------*/

@keyframes scaleUpDown {
  0%,
  100% {
    transform: scaleY(1) scaleX(1);
  }
  50%,
  90% {
    transform: scaleY(1.1);
  }
  75% {
    transform: scaleY(0.95);
  }
  80% {
    transform: scaleX(0.95);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: skewX(0) scale(1);
  }
  50% {
    transform: skewX(5deg) scale(0.9);
  }
}

@keyframes particleUp {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    top: -100%;
    transform: scale(0.5);
  }
}

@keyframes glow {
  0%,
  100% {
    background-color: #ef5a00;
  }
  50% {
    background-color: #ff7800;
  }
}

.loading-container {
  position: relative;
  height: 100px;
  width: 100px;
  margin: auto;
  padding: 20px 0 100px 0;
}

.fire {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
}

.fire-main {
  position: absolute;
  height: 100%;
  width: 100%;
  animation: scaleUpDown 3s ease-out;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.fire-main .main-fire {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    farthest-corner at 10px 0,
    #d43300 0%,
    #ef5a00 95%
  );
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 0 40% 60% 40%;
  filter: drop-shadow(0 0 10px #d43322);
}

.fire-main .particle-fire {
  position: absolute;
  top: 60%;
  left: 45%;
  width: 10px;
  height: 10px;
  background-color: #ef5a00;
  border-radius: 50%;
  filter: drop-shadow(0 0 10px #d43322);
  animation: particleUp 2s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.fire-right {
  height: 100%;
  width: 100%;
  position: absolute;
  animation: shake 2s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.fire-right .main-fire {
  position: absolute;
  top: 15%;
  right: -25%;
  width: 80%;
  height: 80%;
  background-color: #ef5a00;
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 0 40% 60% 40%;
  filter: drop-shadow(0 0 10px #d43322);
}

.fire-right .particle-fire {
  position: absolute;
  top: 45%;
  left: 50%;
  width: 15px;
  height: 15px;
  background-color: #ef5a00;
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 50%;
  filter: drop-shadow(0 0 10px #d43322);
  animation: particleUp 2s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.fire-left {
  position: absolute;
  height: 100%;
  width: 100%;
  animation: shake 3s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.fire-left .main-fire {
  position: absolute;
  top: 15%;
  left: -20%;
  width: 80%;
  height: 80%;
  background-color: #ef5a00;
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 0 40% 60% 40%;
  filter: drop-shadow(0 0 10px #d43322);
}

.fire-left .particle-fire {
  position: absolute;
  top: 10%;
  left: 20%;
  width: 10%;
  height: 10%;
  background-color: #ef5a00;
  border-radius: 50%;
  filter: drop-shadow(0 0 10px #d43322);
  animation: particleUp 3s infinite ease-out 0;
  animation-fill-mode: both;
}

.fire-bottom .main-fire {
  position: absolute;
  top: 30%;
  left: 20%;
  width: 75%;
  height: 75%;
  background-color: #ff7800;
  transform: scaleX(0.8) rotate(45deg);
  border-radius: 0 40% 100% 40%;
  filter: blur(10px);
  animation: glow 2s ease-out 0;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

/*-------------media------------*/
@media (min-width: 577px) and (max-width: 992px) {
  .logo-container h1 {
    font-size: 82px;
  }
}

@media (min-width: 1px) and (max-width: 576px) {
  .logo-container h1 {
    font-size: 50px;
  }
  .select-gender-page-size {
    width: 100%;
    margin-right: auto;
  }
  .main-options {
    margin-top: 20px;
  }
  .pagination-container button {
    padding: 5px;
    margin: 5px;
  }
}
